* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.one nav{
    margin: auto;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    height: 92px;   
}

.one nav img{
    width: 139px;
    height: 60px;
    /* margin-right: 60px; */
}

.one nav ul{
    /* text-decoration: none; */
    list-style-type: none;
    display: flex;
    gap: 32px;
    
}
.one nav a{
    text-decoration: none;  
    margin-left: 25px;
    color: #000;
    font-weight: 500;
    
}

.btn {
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background: #22c55e;
  color: white;
  border: none;
}

.btn-outline {
  border: 2px solid #ffffff;
  color: white;
}

.btn-last{
  font-size: 15px;
  background: #22c55e;
  color: white;
  border: none;
  margin-bottom: 10px;
}



/* hero */
.hero{
    background-image: url(../assets/hero-bg.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 674px;
    text-align: center;   
}


.hero-content {
  padding: 154px 120px 134px;
  /* align-items: center; */
}
.dot{
  vertical-align: middle;
}

.hero-buttons img{
  vertical-align: middle;
}
.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  margin-bottom: 30px;
  color: #e5e7eb;
}

.hero-buttons a {
  margin-right: 15px;
}

/* 3rd sec starts here  */
.problems {
  padding: 80px 120px 120px 120px;
  text-align: center;
}

.grid {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 25px;
  border-radius: 10px;
  background: #f8fafc;
}
/* .card img{
  background-color: orangered;
  border-radius: 50%;
  
} */
 .card img{
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
  padding: 10px;
 }

/* sec 4  */

.Solution{
  max-width: 1600px;
    display: flex;
    justify-content: space-between;
    padding:0 120px 120px 120px;
    text-align: left;
}
.brain-info{ 
    display: flex;
    justify-content: center;
    align-items: left;
    
}
.content{
    max-width: 1600px;
    text-align: left;
    /* padding-top: 10px; */
    /* margin-left: 60px; */
    margin-top: 102px;
    margin-left: 50px;
    
}

.first{
  color: #22c55e;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.content h1{
  font-size: 30px;
  margin-bottom: 16px;
  
}

.content ul img {
  vertical-align: middle;
  
  
}
.content ul{
  list-style: none;
  margin-top: 40px;
}

.content li{
  white-space: nowrap;
  
}


/* bonus sec  */


.early-access{
    /* border: 2px solid rgb(196, 206, 4); */
    text-align: center;
    /* padding: 120px 160px 80px 160px; */
    /* background-color: red; */
    margin: 0 120px 120px 120px;
    max-width: 1600px;
    
    
}

.access-info{
    /* padding: 80px 0 80px 0; */
    /* background-color: bisque; */
    padding: 120px 40px 120px 40px;
    background-color: #f7f7f2;
    border-radius: 10px;
}

.access-info h1{
  padding-bottom: 16px;
}

.access-info p{
  padding-bottom: 25px;
}
.access-info img{
  vertical-align: middle;
}

/* footer   */
footer{
    /* display: flex; */
    /* border: 2px solid rgb(176, 12, 31); */
    /* background:var(--Style,  rgba(0, 25, 49, 1)); */
    background: #001931;
    height: 348px;
    max-width: 1600px;

}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 120px 164px;
    height: 92px; 
}
.social ul{
    padding-top: 10px;
    list-style: none;
    display: flex;
    width: 113px;
    height: 28px;
    gap: 17px;
}
.social h3{
    color: rgba(255, 255, 255, 1);
}
footer p{
    color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;

}

footer hr{
  width: 80%;
  margin: 20px auto;
  opacity: 0.5;
}
footer a{
  /* color: #ffffff; */
  /* gap: 10px; */
  border-radius: 50%;
  background-color: #e5e7eb;
  padding: 2px;
}


/* hover buttons  */

.btn:hover {
  background-color: #16a34a;
  color: #020617;
  /* background-color: white; */
  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.4);
  cursor: pointer;
}

.btn-outline:hover {
  background-color: white;
  color: #020617;
  border-color: white;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.3);
}

.btn-two{
  color: #22C55E;
  background: #ffffff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
}

.btn-two:hover {
  background-color: white;
  color: #020617;
  border-color: white;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.3);
}

/* The end */