* {
    margin: 0;
padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Inter', sans-serif;
}


/*nav starts here*/


.one nav{
    margin: auto;
    max-width: 1140px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    height: 92px;   
}

.one nav img{
    width: 139px;
    height: 60px;
}

.one nav ul{
    /* text-decoration: none; */
    list-style-type: none;
    display: flex;
    gap: 32px;
    
}
.one nav a{
    text-decoration: none;  
    margin-left: 25px;
    color: #000;
    font-weight: 500;
    
}


/* buttons here */
.btn {
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background: #22c55e;
  color: white;
}

.btn-outline {
  border: 2px solid #ffffff;
  color: white;
}



/* hero part here */
.hero{
    background-image: url(../assets/hero-bg.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 674px;
    text-align: center;   
}


.hero-content {
  padding: 154px 120px 134px;
  /* align-items: center; */
}

.badge {
  background: #22c55e;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  margin-bottom: 30px;
  color: #e5e7eb;
}

.hero-buttons a {
  margin-right: 15px;
}



.notes h1, p{
    text-align: center;
    /* justify-content: center; */
}
.cards{
    display: flex;
    /* height: 300px;
       width: 1360px; */
}
    
.notes-info{
    border: 2px black solid;
}
.two .banner-info{
    width: 1360px;
    height: 379px;
}
.three{
    border: 2px solid rgb(15, 25, 207);
}
.parent-brain{
    border: 2px solid rgb(106, 9, 224);
    display: flex;
    padding: 120px;
    text-align: left;
}
.brain-info{ 
    display: flex;
    justify-content: center;
    align-items: left;
    
}
.content{
    max-width: 700px;
    text-align: left;
}
.early-access{
    border: 2px solid rgb(196, 206, 4);
    text-align: center;
    padding: 82px 160px 80px 160px;
    /* background-color: red; */
    
}

.access-info{
    padding: 80px 0 80px 0;
    background-color: bisque;
    padding: 120px 40px 120px 40px;
    background-color: aquamarine;
}
footer{
    /* display: flex; */
    border: 2px solid rgb(176, 12, 31);
    background: var(--Style, rgba(0, 25, 49, 1));

}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 120px 164px;
    height: 92px; 
}
.social ul{
    list-style: none;
    display: flex;
    width: 113px;
    height: 28px;
}
.social h3{
    color: rgba(255, 255, 255, 1);
}
footer p{
    color: rgba(255, 255, 255, 1);

}