body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.one{
    border: 2px solid red;

}
.one nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    height: 92px;   
}

.one nav img{
    width: 139px;
    height: 60px;
}

.one nav ul{
    /* text-decoration: none; */
    list-style-type: none;
    display: flex;
    gap: 32px;
    
}
.one nav a{
    text-decoration: none;  
    
}

.one .btn{
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    border-radius: 5px;    
}



.banner{
    border: 2px solid rgb(17, 194, 70);
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.notes h1, p{
    text-align: center;
    /* justify-content: center; */
}
.cards{
    display: flex;
    /* height: 300px;
       width: 1360px; */
}
    
.notes-info{
    border: 2px black solid;
}
.two .banner-info{
    width: 1360px;
    height: 379px;
}
.three{
    border: 2px solid rgb(15, 25, 207);
}
.parent-brain{
    border: 2px solid rgb(106, 9, 224);
    display: flex;
    padding: 120px;
}
.early-access{
    border: 2px solid rgb(196, 206, 4);
    text-align: center;
    padding: 82px 160px 80px 160px;
    /* background-color: red; */
    
}

.access-info{
    padding: 80px 0 80px 0;
    background-color: bisque;
    padding: 120px 40px 120px 40px;
    background-color: aquamarine;
}
footer{
    /* display: flex; */
    border: 2px solid rgb(176, 12, 31);
    background: var(--Style, rgba(0, 25, 49, 1));

}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 120px 164px;
    height: 92px; 
}
.social ul{
    list-style: none;
    display: flex;
    width: 113px;
    height: 28px;
}
.social h3{
    color: rgba(255, 255, 255, 1);
}
footer p{
    color: rgba(255, 255, 255, 1);

}